
@mixin margin-0{
    margin: 0;
}

@mixin relative{
    position: relative;
}

@mixin fixed {
    position: fixed;
}

@mixin absolute {
    position: absolute;
}

@mixin padding-y-100{
    padding: 100px 0;
}