//---------------------------------------------------------------------------------------------------------------------COLORS
$color-pink:#E3207B;
$color-button-hovered:#b91763;
$color-button-border-color-hovered: #ad165d;
$color-white:white;
$bold:bold;
$color-black:black;
$color-darkgrey:#333333;
$color-lightgrey:#939393;
$color-footer-text:#737373;
$color-darkergrey:#222222;
$color-download-icon:#61dd4b;
$color-hovered-link:#999999;
$bgcolor-shows:#222831;
$color-section-desc:#8E9196;
$bgcolor-podcasts: $bgcolor-shows;
$bgcolor-section-color-2:#13171D;
$bgcolor-carousel-color-notactive:#cccccc;
$bgcolor-djs:$bgcolor-shows;
$bgcolor-footer:$bgcolor-djs;

//---------------------------------------------------------------------------------------------------------------------FONT-SIZES
$size-chevron-font-size:10px;
$size-navbar-icon:24px;

//---------------------------------------------------------------------------------------------------------------------FONT-WEIGHT
$less-than-bold:900;

//---------------------------------------------------------------------------------------------------------------------SIZES
$width-zero:0;
$height-zero:0;
$height-colorib-img:30px;
$height-upcoming-shows:300px;
$height-podcast:642px;
$half:315px;
//---------------------------------------------------------------------------------------------------------------------Breakpoints
$breakpoint-medium:991px;
$breakpoint-small:767px;
$breakpoint-extrasmall:575px;
$breakpoint-large:1200px;
$breakpoint-extralarge:1201px;


$Oswald: 'Oswald', sans-serif;
$headingfont: $Oswald;
$Sans:'Open Sans', sans-serif;

//---------------------------------------------------------------------------------------------------------------------Section-heading

$size-section-heading:32px;

$weight-section-heading:500;
